@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
$interFonts: "Inter", serif;
$themeColor: #58B736;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$fontsColor: #969696;
$transition: all 0.5s ease;
$smallShadow: 0 .125rem .25rem rgba(0,0,0,.075);
$regularShadow: 0 .5rem 1rem rgba(0,0,0,.15);
$largerShadow: 0 1rem 3rem rgba(0,0,0,.175);
html,body{
    font-family: $interFonts;
    height: 100%;
}

header{
    position: relative;
    height: 85px;
    .container{
        max-width: 1440px;
    }
    nav{
        .navbar-collapse{
            justify-content: flex-end;
            ul{
                margin-right: 80px;
                li{
                    a{
                        color: $blackColor;
                        font-family: $interFonts;
                        font-weight: 600;
                        margin-right: 10px;
                        padding-right: 10px;
                        &:hover{
                            color: $themeColor;
                        }
                    }
                }
            }
        }
    }

    .topContactDetails{
        position: relative;
        display: flex;
        align-items: center;
        svg{
            margin-right: 10px;
        }
        h5{
            display: flex;
            align-items: baseline;
            flex-direction: column;
            margin: 0;
            p{
                color: #8F8F8F;
                // text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                text-shadow: 0px 0px 0px #8F8F8F, 0 0 2px #8F8F8F, 0 0 2px #8F8F8F;
                font-family: $interFonts;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.36px;
                letter-spacing: 0%;
                margin: 0;
            }
            span{
                font-family: $interFonts;
                font-weight: 400;
                font-size: 16px;
                line-height: 19.36px;
                letter-spacing: 0%;
                color: $blackColor;
            }
        }
    }
    .menuToggleButton{
        background-color: $themeColor;
        border: none;
        margin: 0;
        padding: 4px;
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 4px;
        @media(max-width: 991px){
            display: block;
        }
    }
    .mobileMenu{
        position: fixed;
        left: -100%;
        top: 0;
        width: 90%;
        height: 100%;
        background-color: $whiteColor;
        transition: $transition;
        z-index: 999;
        padding: 30px 20px;
        display: none;
        @media(max-width: 991px){
            display: block;
            box-shadow: $largerShadow;
        }
        .mobileLogo{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .menuclosedButton{
                background-color: transparent;
                border: none;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 40px 0 0 0;
            li{
                margin-bottom: 4px;
                a{
                    font-size: 16px;
                    color: $fontsColor;
                    margin: 0;
                    border-radius: 6px;
                    padding: 6px 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    &.active, &:hover{
                        background-color: $themeColor;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}
body.isMobileMenuOpend{
    .mobileMenu{
        left: 0;
    }
}

.heroSection{
    position: relative;
    background-color: #F6FAFF;
    .mainSliderSection{
        position: relative;
        background-image: url('../images/woman-with-rubber-gloves-cleaning-floors 1.png');
        width: 100%;
        height: 495px;
        background-size: cover;
        .heroContainerOverlay{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.7);
        }
        .heroContainer{
            position: relative;
            height: 495px;
            display: flex;
            align-items: inherit;
            flex-direction: column;
            justify-content: center;
            color: $whiteColor;
            @media(max-width: 575px){
                justify-content: center;
                align-items: center;
            }
            h1{
                position: relative;
                z-index: 2;
                max-width: 405px;
                font-family: $interFonts;
                font-weight: 400;
                font-size: 48px;
                line-height: 60px;
                letter-spacing: 0%;
                @media(max-width: 575px){
                    font-size: 40px;
                    line-height: 46px;
                    max-width: 100%;
                    text-align: center;
                }
            }
            p{
                position: relative;
                z-index: 2;
                max-width: 514px;
                color: $whiteColor;
                font-family: $interFonts;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                @media(max-width: 575px){
                    font-size: 14px;
                    line-height: 22px;
                    max-width: 100%;
                    text-align: center;
                    padding: 10px 20px;
                }
            }
            a{
                position: relative;
                z-index: 2;
                padding: 10px 20px;
                color: $whiteColor;
                font-size: 16px;
                border-radius: 6px;
                text-decoration: none;
                background-color: $themeColor;
                text-align: center;
                display: block;
                width: 130px;
                transition: $transition;
                &:hover{
                    transition: $transition;
                    background-color: darken($themeColor, 12%);
                }
            }
        }
    }
    .homeSevericeSection{
        position: relative;
        margin: 50px 0 60px 0;
    }
    .serviceCard{
        position: relative;
        background-color: $whiteColor;
        padding: 40px 0;
        text-align: center;
        margin-bottom: 50px;
        border-radius: 10px;
        transition: $transition;
        border: solid 2px transparent;
        @media(max-width: 575px){
            padding: 30px 0;
        }
        &:hover{
            border: 2px solid $themeColor;
            transition: $transition;
        }
        .serviceIcon{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 101px;
            height: 101px;
            background-color: $themeColor;
            border-radius: 50%;
            margin: 0 auto 16px;
        }
        h2{
            font-family: $interFonts;
            font-weight: 400;
            font-size: 24px;
            line-height: 29.05px;
            letter-spacing: 0%;
            margin-bottom: 24px;
            color: $blackColor;
        }
        p{
            max-width: 212px;
            margin: 0 auto;
            text-align: left;
            color: #969696;
            font-weight: 600;
            font-family: $interFonts;
            font-size: 16px;
            line-height: 18.75px;
            letter-spacing: 0%;
        }
    }
}
.heroSection.otherPageHeader{
    .mainSliderSection{
        .container{
            .heroContainer{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    max-width: 100%;
                    text-align: center;
                }
                p{
                    text-align: center;
                    max-width: 700px;
                }
                h4{
                    font-family: $interFonts;
                    font-weight: 400;
                    font-size: 64px;
                    line-height: 77.45px;
                    letter-spacing: 0%;
                    color: #F1EEEA;
                    margin: 0;
                    position: relative;
                    @media(max-width: 767px){
                        font-size: 48px;
                        line-height: 60px;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: $themeColor;
                        width: 40px;
                        height: 4px;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
.contactUsSection{
    position: relative;
    background-color: $whiteColor;
    padding: 80px 0;
    .contactInformation{
        position: relative;
        max-width: 460px;
        margin: 0 auto;
        @media(max-width: 1199px){
            max-width: 100%;
            margin-bottom: 30px;
            @media(max-width: 575px){
                text-align: center;
            }
        }
        h2{
            font-family: $interFonts;
            font-size: 36px;
            line-height: 42.19px;
            letter-spacing: 0%;
            color: $blackColor;
            font-weight: 600;
            margin-bottom: 10px;
            @media(max-width: 575px){
                font-size: 26px;
                line-height: 36px;
            }
        }
        p{
            color: #8F8F8F;
            font-family: $interFonts;
            font-size: 16px;
            line-height: 18.75px;
            letter-spacing: 0%;
            margin-bottom: 30px;
            @media(max-width: 575px){
                font-size: 16px;
                line-height: 26px;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            li{
                width: 50%;
                position: relative;
                @media(max-width: 575px){
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
                h4{
                    position: relative;
                    display: flex;
                    align-items: center;
                    font-family: $interFonts;
                    font-size: 20px;
                    line-height: 28.13px;
                    letter-spacing: 0%;
                    color: $blackColor;
                    margin-bottom: 24px;
                    font-weight: 600;
                    @media(max-width: 575px){
                        flex-direction: column;
                        margin-bottom: 10px;
                    }
                    svg{
                        margin-right: 10px;
                    }
                }
                p{
                    color: #8F8F8F;
                    font-family: $interFonts;
                    font-size: 14px;
                    line-height: 18.75px;
                    letter-spacing: 0%;
                    margin-bottom: 30px;
                    padding-left: 40px;
                }
            }
        }
    }
    form{
        position: relative;
        .form-group{
            margin-bottom: 36px;
            .form-control{
                position: relative;
                background-color: #F9F9F8;
                height: 48px;
                border: solid 1px transparent;
                transition: $transition;
                &:focus{
                    border: 1px solid $themeColor;
                    box-shadow: none;
                    outline: none;
                    transition: $transition;
                }
            }
            textarea{
                min-height: 160px;
                resize: none;
            }
            button{
                height: 50px;
                width: 100%;
                border-radius: 4px;
                text-align: center;
                background-color: #007CFB;
                color: $whiteColor;
                font-family: $interFonts;
                font-size: 24px;
                line-height: 28.13px;
                letter-spacing: 0%;
                font-weight: 600;
                border: none;
                transition: $transition;
                &:hover{
                    background-color: darken(#007CFB, 12%);
                }
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
}
.serviceSection{
    position: relative;
    h2{
        text-align: center;
        padding: 10px 0;
        background-color: #F6FAFF;
        font-family: $interFonts;
        font-weight: 600;
        font-size: 36px;
        line-height: 65.47px;
        letter-spacing: 0%;
        margin: 0;
    }
    .wrapper{
        margin: 30px auto;
        max-width: 1100px;
      }
      .wrapper nav{
        display: flex;
        justify-content: center;
      }
      .wrapper .items{
        display: flex;
        max-width: 720px;
        width: 100%;
        justify-content: space-between;
      }
      .items span{
        padding: 7px 25px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: $blackColor;
        border-radius: 50px;
        transition: all 0.3s ease;
      }
      .items span.active,
      .items span:hover{
        color: $themeColor;
        background: transparent;
      }
      
      .gallery{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
      }
      .gallery .image{
        width: calc(100% / 4);
        padding: 7px;
      }
      .gallery .image span{
        display: flex;
        width: 100%;
        overflow: hidden;
      }
      .gallery .image img{
        width: 100%;
        vertical-align: middle;
        transition: all 0.3s ease;
      }
      .gallery .image:hover img{
        transform: scale(1.1);
      }
      .gallery .image.hide{
        display: none;
      }
      .gallery .image.show{
        animation: animate 0.4s ease;
      }
      @keyframes animate {
        0%{
          transform: scale(0.5);
        }
        100%{
          transform: scale(1);
        }
      }
      .details .title{
        display: flex;
        font-size: 18px;
        font-weight: 400;
      }
      .details .title p{
        font-weight: 500;
        margin-left: 5px;
      }
      .details .icon{
        color: #007bff;
        font-style: 22px;
        cursor: pointer;
      }
      .image-box img{
        width: 100%;
        border-radius: 0 0 3px 3px;
      }
      .shadow{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: none;
        background: rgba(0,0,0,0.4);
      }
      .shadow.show{
        display: block;
      }
      
      @media (max-width: 1000px) {
        .gallery .image{
          width: calc(100% / 3);
        }
      }
      @media (max-width: 800px) {
        .gallery .image{
          width: calc(100% / 2);
        }
      }
      @media (max-width: 700px) {
        .wrapper nav .items{
          max-width: 600px;
        }
        nav .items span{
          padding: 7px 15px;
        }
      }
      @media (max-width: 600px) {
        .wrapper{
          margin: 30px auto;
        }
        .wrapper nav .items{
          flex-wrap: wrap;
          justify-content: center;
        }
        nav .items span{
          margin: 5px;
        }
        .gallery .image{
          width: 100%;
        }
      }
}


.clientCommits{
    position: relative;
    background-color: #F4F5F7;
    padding: 64px 0;
    h2{
        text-align: center;
        font-family: $interFonts;
        font-weight: 700;
        font-size: 36px;
        line-height: 65.47px;
        letter-spacing: 0%;
        margin: 0 0 -10px 0;
        color: $blackColor;
    }
    p{
        margin: 0;
        color: $blackColor;
        text-align: center;
    }
}
footer{
    position: relative;
    background-color: rgba(217, 217, 217, 0.3);
    padding: 64px 0;
    .addressMap{
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: $regularShadow;
        img{
            width: 100%;
        }
    }
    .officeAddress{
        padding-left: 30px;
        max-width: 465px;
        @media(max-width: 767px){
            padding-left: 20px;
            margin-top: 40px;
        }
        h3{
            font-family: $interFonts;
            font-weight: 700;
            font-size: 32px;
            line-height: 43.65px;
            letter-spacing: 0%;
            margin-bottom: 16px;
        }
        p{
            position: relative;
            display: flex;
            align-items: inherit;
            font-family: $interFonts;
            font-weight: 700;
            font-size: 20px;
            line-height: 27.28px;
            letter-spacing: 0%;
            color: $blackColor;
            svg{
                min-width: 30px;
                margin-right: 16px;
            }
        }
    }
    .footerSocailMedia{
        position: relative;
        text-align: center;
        margin-top: 62px;
        h5{
            font-family: $interFonts;
            font-weight: 700;
            font-size: 40px;
            line-height: 54.56px;
            letter-spacing: 0%;
            color: $blackColor;
            margin-bottom: 20px;
            @media(max-width: 767px){
                font-size: 30px;
                line-height: 40px;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            li{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $blackColor;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition;
                cursor: pointer;
                &:hover{
                    transition: $transition;
                    background-color: $themeColor;
                }
                a{
                    font-size: 20px;
                    text-decoration: none;
                    color: $whiteColor;
                }
            }
        }
    }
}
.miniFooter{
    position: relative;
    background-color: #F6FAFF;
    padding: 10px;
    p{
        margin: 0;
        text-align: center;
        color: #C4C4C4;
        font-size: 14px;
    }   
}
.blogOfMonth{
    position: relative;
    background-color: rgba(47, 172, 102, 0.1);
    border-radius: 20px;
    margin: 20px;
    padding: 60px 0;
    .row{
        @media(max-width: 767px){
            flex-direction: column;
        }
    }
    .blogOfMonthContents{
        position: relative;
        h2{
            font-family: $interFonts;
            font-weight: 400;
            font-size: 48px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
            margin-bottom: 40px;
            @media(max-width: 767px){
                font-size: 26px;
            }
        }
        p{
            font-family: $interFonts;
            font-weight: 400;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: 0%;
            color: #000000;
            @media(max-width: 767px){
                font-size: 18px;
            }
        }
    }
    .blogImages{
        position: relative;
        transition: $transition;
        &:hover{
            .blogImagesOverlay{
                transition: $transition;
                opacity: 1;
            }
        }
        img{
            width: 100%;
        }
        .blogImagesOverlay{
            position: absolute;
            opacity: 0;
            transition: $transition;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.1);
            background: linear-gradient(189deg, rgba(255,255,255,0.4452) 0%, rgba(0,0,0,0.4454) 100%);
            width: 100%;
            height: 40%;
            border-radius: 0 0 60px 60px;
            padding: 20px 40px;
            z-index: 1;
            h3{
                font-size: 26px;
                color: $whiteColor;
                font-family: $interFonts;
                @media(max-width: 767px){
                    font-size: 22px;
                }
            }
            p{
                font-size: 16px;
                color: $whiteColor;
                font-family: $interFonts;
                margin: 0;
                @media(max-width: 767px){
                    font-size: 14px;
                }
            }
        }
    }
}
.monthSlider{
    position: relative;
    margin-top: 60px;
    #container {
    margin: 0;
    padding: 0;
    }

    #slider-container {
    width: 100%;
    max-width: 1400px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    }

    #slider-container .btn {
    position: absolute;
    top: calc(50% - 16px);
    height: 20px;
    width: 20px;
    border-left: 8px solid $themeColor;
    border-top: 8px solid $themeColor;
    padding: 0;
    }

    #slider-container .btn:hover {
    transform: scale(1.2);
    }

    #slider-container .btn.inactive {
    border-color: rgb(153, 121, 126)
    }

    #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
    }

    #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
    }

    #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
    }

    #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    display: grid;
    place-items: center;
    }

    #slider-container #slider .slide span {
    img{
        width: 100%;
        border-radius: 40px;
    }
    }

    @media only screen and (min-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(2.5% - 20px);
    }

    }

    @media only screen and (max-width: 1100px) {

    #slider-container #slider .slide {
        width: calc(3.3333333% - 20px);
    }

    }

    @media only screen and (max-width: 900px) {

    #slider-container #slider .slide {
        width: calc(5% - 20px);
    }

    }

    @media only screen and (max-width: 550px) {

    #slider-container #slider .slide {
        width: calc(10% - 20px);
    }

    }
}
.aboutContents{
    position: relative;
    background-color: #F1EEEA;
    padding: 40px 20px;
    margin-top: 40px;
    border-radius: 20px;
    h2{
        font-family: $interFonts;
        font-weight: 400;
        font-size: 42px;
        line-height: 100%;
        letter-spacing: 0%;     
        margin: 0 0 60px 0;
        text-align: center;
    }
    .aboutUsHeading{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        &.v_aboutWithLine{
            &::before{
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                width: 110%;
                height: 1px;
                bottom: 0;
                background-color: #000000;
            }
        }
        h3{
            font-family: $interFonts;
            font-weight: 400;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            margin: 0;
        }
        span{
            position: absolute;
            left: auto;
            right: 0;
            width: 1px;
            height: 100%;
            z-index: 9;
            background-color: #000000;
            display: block;
        }
    }
    .POVContainer{
        position: relative;
        p{
            font-size: 14px;
        }
    }
    .POVImages{
        position: relative;
        img{
            width: 100%;
        }
    }
    
}